/* alternatively via jsdelivr */
@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

.center-text {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  gap: 10px;
}

.base_img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

h1 {
  font-family:  "Unica One", sans-serif;
  font-weight:  400;
  font-style:   normal;
}

body {
  color:        var(--ctp-mocha-rosewater);
  background:   rgba(var(--ctp-macchiato-base-rgb));
  border-color: hsla(var(--ctp-frappe-red-hsl));
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
}
