/* alternatively via jsdelivr */
@import url('https://cdn.jsdelivr.net/npm/@catppuccin/palette/css/catppuccin.css');

.my-div {
  color:        var(--ctp-mocha-text);
  background:   rgba(var(--ctp-macchiato-base-rgb) / 0.9);
  border-color: hsla(var(--ctp-frappe-red-hsl) / 0.75);
}